body {
    text-align: none;
}
.mainFormContainer {
    width: 440px;
    height: auto;
    background-color:red;
}

.given, .surname {
    display: inline-block;
}

.submissionInfo {
    background-color: darkgray;
    padding: 12px;
    color:white;
}
.disclaimer, .submitButton {
    display: inline-block;
}

#firstName, #lastName {
    width: 218px;
}
#email, #tel, #message {
    width: 100%;
}

textarea {
    resize:none;
}

