body {
    text-align: none;
}
.main-form-container {
    width: 500px;
    height: auto;
    background-color:red;
    margin: auto;
}

.given,.surname {
    display:inline-block;
    width: 50%;
}

.submission-info {
    background-color: darkgray;
    color:white;
}
.disclaimer, .submit-button {
    display: inline-block;
}

#email, #tel, #message, #first-name, #last-name {
    width: 100%;
    padding: 15px;
}

textarea {
    resize:none;
    margin:auto;
}
input {

}

